html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'futura', sans-serif;
  font-style: italic;
  font-weight: 300;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* HEADER */

h1 {
  font-size: 48px;
  margin-top: 40px;
}

.header-container {
  width: 100%;
  text-align: center;
  background: #fff;
}

.items-container {
  display: flex;
  margin: auto;
  width: 75%;
  min-width: 500px;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-item {
  position: relative;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-item:hover {
  cursor: pointer;
}

.header-item::before,
.header-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background-color: black;
}

.header-item::before {
  transform: rotate(45deg);
}

.header-item::after {
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.header-item:hover::after, .header-item.active::after {
  opacity: 1;
}

.header-item p {
  transform: rotate(45deg);
  color: #fff;
}

.header-item:hover p, .header-item.active p {
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

/* MAIN CONTENT */

.main-content {
  margin: auto;
  max-width: 80%;
}

.main-content .content {
  /* position: absolute; */
  width: 450px;
  height: 450px;
  background-color: rgba(255,255,255,1);
  margin: auto;
  margin-top: 55px;
  display: none;
}

.main-content .content.skills {
  width: 600px;
}

.main-content .content.active {
  display: flex;
}
