html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'futura', sans-serif;
  font-style: italic;
  font-weight: 300;
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

}

/* HEADER */

h1 {
  font-size: 48px;
  margin-top: 40px;
}

.header-container {
  width: 100%;
  text-align: center;
  background: #fff;
}

.items-container {
  display: flex;
  margin: auto;
  width: 75%;
  min-width: 500px;
  max-width: 1050px;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-container .items-container .header-item.hidden {
  display: none;
}

.header-container .items-container h1 {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

.header-item {
  position: relative;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-item:hover {
  cursor: pointer;
}

.header-item::before,
.header-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background-color: #000;
}

.header-item::before {
  transform: rotate(45deg);
}

.header-item::after {
  transform: rotate(-45deg);
  opacity: 0;
}

.header-item:hover::after,
.header-item.current::after {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.header-item p {
  transform: rotate(45deg);
  color: #fff;
  font-style: normal;
}

.header-item:hover p,
.header-item.current p {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/* MAIN CONTENT */

.main-content {
  margin: auto;
  max-width: 1050px;
}

.main-content .content {
  width: 700px;
  height: auto;
  background-color: rgba(255,255,255,0.7);
  margin: auto;
  margin-top: 55px;
  display: none;
}

.main-content .content.current {
  display: flex;
}

.main-content .content.default {
  background: none;
  flex-direction: column;
  margin-top: 80px;
}

.main-content .content.default .items-container {
  width: 100%;
}

.main-content .content.default .header-item {
  text-align: center;
  height: 170px;
  width: 170px;
}

.main-content .h2-container {
  padding-top: 20px;
}

.main-content .h2-container h2 {
  transform: rotate(270deg);
  color: #565657;
  text-decoration: underline;
}
