html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'futura', sans-serif;
  font-style: italic;
  font-weight: 300;
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

}

/* HEADER */

h1 {
  font-size: 48px;
  margin: auto;
}

.header-container {
  width: 100%;
  text-align: center;
  background: #fff;
}

.items-container {
  display: flex;
  margin: auto;
  width: 75%;
  min-width: 500px;
  max-width: 1050px;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  transition: all .55s ease-in-out;
  -moz-transition: all .55s ease-in-out;
  -webkit-transition: all .55s ease-in-out;
}

.header-items-container.out {
  width: 0;
}

.header-container .items-container h1 {
  transition: all .55s ease-in-out;
  -moz-transition: all .55s ease-in-out;
  -webkit-transition: all .55s ease-in-out;
}

.header-item {
  opacity: 1;
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -webkit-transition: all .75s ease-in-out;
}

.header-container .items-container .header-item.hidden {
  opacity: 0;
}

.header-item.current:hover {
  animation-name: headerActive;
  animation-duration: 0.25s;
}

.header-item:hover {
  cursor: pointer;
}

.header-item::before,
.header-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background-color: #000;
  transform: rotate(90deg);
  transition: transform .45s ease-in-out;
  -moz-transition: transform .45s ease-in-out;
  -webkit-transition: transform .45s ease-in-out;
}

.header-item:hover::before,
.header-item.current::before {
  transform: rotate(45deg);
}

.header-item:hover::after,
.header-item.current::after {
  transform: rotate(135deg);
}


.header-item p {
  transform: rotate(90deg);
  color: #fff;
  font-style: italic;
  z-index: 100;
  letter-spacing: 1px;
  transition: all .45s ease-in-out;
  -moz-transition: all .45s ease-in-out;
  -webkit-transition: all .45s ease-in-out;
}

.header-item:hover p,
.header-item.current p {
  opacity: 0;
  transform: rotate(45deg);
}

/* MAIN CONTENT */

.main-content {
  margin: auto;
  max-width: 1050px;
}

.main-content .content {
  width: 700px;
  height: auto;
  background-color: rgba(255,255,255,0.7);
  margin: auto;
  margin-top: 55px;
  opacity: 1;
  display: none;
  transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}

.main-content .content.current {
  display: flex;
}

.main-content .content.hidden {
  opacity: 0;
}

.main-content .content.default {
  background: none;
  flex-direction: column;
  margin-top: 80px;
}

.main-content .content.default .items-container {
  width: 80%;
}

.main-content .content.default .header-item {
  text-align: center;
  height: 125px;
  width: 125px;
}

.main-content .content.default .header-item::before,
.main-content .content.default .header-item::after {
  transform: rotate(0deg);
}

.main-content .content.default .header-item:hover::before,
.main-content .content.default .header-item.current::before {
  transform: rotate(45deg);
}

.main-content .content.default .header-item:hover::after,
.main-content .content.default .header-item.current::after {
  transform: rotate(-45deg);
}

.main-content .content.default .header-item p {
  transform: rotate(0deg);
  font-style: italic;
  letter-spacing: 1px;
}

.main-content .content.default .header-item.current p,
.main-content .content.default .header-item:hover p {
  transform: rotate(45deg);
}

.main-content .h2-container {
  padding-top: 30px;
}

.main-content .h2-container h2 {
  transform: rotate(270deg);
  color: #3a3a3a;
  text-decoration: underline;
}

.main-content .skills {
  background: none;
  width: 600px;
  transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}

.content.skills .accordion {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: auto;
}

.content.skills .accordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

.content.skills .accordion li {
  margin: .5em 0;
}

.content.skills .accordion a.toggle {
  display: block;
  background: #fff;
  color: #000;
  padding: .75em;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.content.skills .accordion a.toggle .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px 5px 0 0;
  float: right;
  transform: rotate(-45deg);
  transition: all .55s ease-in-out;
}

.content.skills .accordion a.toggle.open .arrow {
  transform: rotate(45deg);
}

.content.skills .accordion a.toggle:hover {
  animation-name: tile;
  animation-duration: 0.5s;
  -webkit-animation-name: tile;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: tile;
  -moz-animation-duration: 0.5s;
}

.content.work {
  width: auto;
  padding-right: 30px;
}

.content.work .h2-container {
  padding-top: 50px;
}

.content.work .projects-container {
  margin: 20px auto;
  width:900px;
  height:600px;
  display:grid;
  grid-template-columns: 440px 500px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.content.work .image-box {
  border-radius:10px;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content.work .image-box .img-portfolio {
  width: 400px;
  position: absolute;
  /* top: 0;
  left: 0; */
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
}

.content.work .image-box .img-portfolio[class*="img-2-"] {
  opacity: 0;
}

.content.work .image-box:hover > .img-portfolio[class*="img-2-"] {
  opacity: 1;
}

.content.work .image-box .project-link {
  width: 200px;
  height: 45px;
  background-color: #000;
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: 999;
  top: 235px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.content.work .image-box .project-link p {
  margin-top: 11px;
}

.content.work .image-box .project-link a {
  color: #fff;
  text-decoration: none;
}

.content.work .image-box .project-link a:hover {
  text-decoration: underline;
}

.content.work .image-box .img-portfolio[class*="img-2-"]:hover ~ .project-link, .content.work .image-box .project-link:hover {
  opacity: 1;
  top: 150px;
  /* cursor: pointer; */
}

@keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@-webkit-keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@-moz-keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}

@-moz-keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}
