---
# Front matter comment to ensure Jekyll properly reads file.
---

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'futura', sans-serif;
  font-style: italic;
  font-weight: 300;
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  .header-container {
    width: 100%;
    text-align: center;
    background: #fff;
  }
  .items-container {
    display: flex;
    margin: auto;
    width: 75%;
    min-width: 500px;
    max-width: 1050px;
    flex-direction: row;
    justify-content: space-evenly;
    h1 {
      font-size: 48px;
      margin: auto;
      transition: all .55s ease-in-out;
      -moz-transition: all .55s ease-in-out;
      -webkit-transition: all .55s ease-in-out;
    }
    .header-items-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 600px;
      transition: all .55s ease-in-out;
      -moz-transition: all .55s ease-in-out;
      -webkit-transition: all .55s ease-in-out;
      &.out {
        width: 0;
      }
    }
    .header-item {
      opacity: 1;
      position: relative;
      height: 100px;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px 0;
      transition: all .75s ease-in-out;
      -moz-transition: all .75s ease-in-out;
      -webkit-transition: all .75s ease-in-out;
      &.hidden {
        opacity: 0;
      }
      &.current:hover {
        animation-name: headerActive;
        animation-duration: 0.25s;
        -webkit-animation-name: headerActive;
        -webkit-animation-duration: 0.25s;
        -moz-animation-name: headerActive;
        -moz-animation-duration: 0.25s;
      }
      &:hover {
        cursor: pointer;
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 20px;
        background-color: #000;
        transform: rotate(90deg);
        transition: transform .45s ease-in-out;
        -moz-transition: transform .45s ease-in-out;
        -webkit-transition: transform .45s ease-in-out;
      }
      &:hover::before,
      &.current::before {
        transform: rotate(45deg);
      }
      &:hover::after,
      &.current::after {
        transform: rotate(135deg);
      }
      p {
        transform: rotate(90deg);
        color: #fff;
        font-style: italic;
        z-index: 100;
        letter-spacing: 1px;
        transition: all .45s ease-in-out;
        -moz-transition: all .45s ease-in-out;
        -webkit-transition: all .45s ease-in-out;
      }
      &:hover p,
      &.current p {
        opacity: 0;
        transform: rotate(45deg);
      }
    }
  }
  .main-content {
    margin: auto;
    max-width: 1050px;
    .content {
      width: 700px;
      height: auto;
      background-color: rgba(255,255,255,0.7);
      margin: auto;
      margin-top: 55px;
      opacity: 1;
      display: none;
      transition: all .35s ease-in-out;
      -moz-transition: all .35s ease-in-out;
      -webkit-transition: all .35s ease-in-out;
      &.current {
        display: flex;
      }
      &.hidden {
        opacity: 0;
      }
      &.default {
        background: none;
        flex-direction: column;
        margin-top: 80px;
        .items-container {
          width: 80%;
        }
        .header-item {
          text-align: center;
          height: 125px;
          width: 125px;
          &::before,
          &::after {
            transform: rotate(0deg);
          }
          &:hover::before,
          &.current::before {
            transform: rotate(45deg);
          }
          &:hover::after,
          &.current::after {
            transform: rotate(-45deg);
          }
          p {
            transform: rotate(0deg);
            font-style: italic;
            letter-spacing: 1px;
          }
          &.current p,
          &:hover p {
            transform: rotate(45deg);
          }
        }
      }
      .h2-container {
        padding-top: 30px;
        h2 {
          transform: rotate(270deg);
          color: #3a3a3a;
          text-decoration: underline;
        }
      }
      &.skills {
        background: none;
        width: 600px;
        transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -webkit-transition: all .35s ease-in-out;
        .accordion {
          list-style: none;
          padding: 0;
          width: 500px;
          margin: auto;
          li {
            margin: .5em 0;
            .inner {
              padding-left: 1em;
              overflow: hidden;
              display: none;
              .skills-cont {
                  display: grid;
                  margin: 15px auto;
                  grid-template-columns: 1fr 1fr 1fr;
                  align-items: center;
                  div {
                    font-style: normal;
                    margin: 3px;
                  }
              }
            }
            a.toggle {
              display: block;
              background: #fff;
              color: #000;
              padding: .75em;
              text-decoration: none;
              box-shadow: -1px 2px 4px 0 rgba(0,0,0,0.2);
              transition: all .3s ease-in-out;
              .arrow {
                border: solid #000;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin: 5px 5px 0 0;
                float: right;
                transform: rotate(-45deg);
                transition: all .55s ease-in-out;
              }
              &.open .arrow {
                transform: rotate(45deg);
              }
              &:hover {
                animation-name: tile;
                animation-duration: 0.5s;
                -webkit-animation-name: tile;
                -webkit-animation-duration: 0.5s;
                -moz-animation-name: tile;
                -moz-animation-duration: 0.5s;
              }
            }
          }
        }
      }
      &.about {
        .bio {
          margin: 18px;
        }
      }
      &.work {
        width: 550px;
        transform: rotate(45deg);
        margin-top: 155px;
        .projects-container {
          margin: 20px auto;
          width: 500px;
          height:500px;
          display:grid;
          grid-template-columns: 1fr 1fr;
          .image-box {
            position: relative;
            display:flex;
            align-items:center;
            justify-content:center;
            overflow: hidden;
            object-fit: cover;
            .img-portfolio {
              height: 250px;
              position: absolute;
              transition: opacity 0.5s ease-in-out;
              -webkit-transition: opacity 0.5s ease-in-out;
              -moz-transition: opacity 0.5s ease-in-out;
              &[class*="img-2-"] {
                opacity: 0;
                &:hover ~ .project-link {
                  opacity: 1;
                  top: 150px;
                }
              }
            }
            &:hover > .img-portfolio[class*="img-2-"] {
              opacity: 1;
            }
            .project-link {
              width: 200px;
              height: 45px;
              background-color: #000;
              color: #fff;
              position: absolute;
              text-align: center;
              z-index: 999;
              top: 235px;
              opacity: 0;
              transition: all 0.5s ease-in-out;
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              p {
                margin-top: 11px;
              }
              a {
                color: #fff;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
              &:hover {
                opacity: 1;
                top: 150px;
              }
            }
            &:nth-child(2), &:nth-child(3) {
              transform: rotate(-90deg);
            }
          }
        }
      }
      &.contact {
        background: none;
        width: 400px;
        height: 400px;
        margin: 50px auto;
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
        .email-container {
          height: 60px;
          #email {
            width: 100%;
            margin-bottom: 20px;
            text-decoration: none;
            color: #000;
            font-size: 24px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            &:hover {
              color: rgba(0,0,0,0.6);
              font-size: 22px;
            }
          }
        }
        .contact-links {
          height: 90px;
          width: 90px;
          border-radius: 100px;
          display: inline-block;
          text-align: center;
          &:hover img {
            opacity: 0.6;
            transform: scale(0.85);
          }
          img {
            height: 60px;
            margin-top: 15px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
          }
        }
      }
    }
  }
  .main-content-mob, .mob-menu, .mobile-menu-container {
    display: none;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    .header-container {
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 999;
      .items-container {
        width: 100%;
        min-width: 300px;
        max-width: none;
        h1 {
          font-size: 32px;
          margin-top: 15px;
        }
        .header-items-container {
          display: none;
        }
        .mobile-menu-container {
          display: inline-block;
          cursor: pointer;
          margin: 15px auto 0 auto;
          .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
          }
          &.change > .bar1 {
            margin-right: 1px;
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            -moz-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px) ;
          }
          &.change > .bar2 {
            opacity: 0;
          }
          &.change > .bar3 {
            margin-right: -1px;
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            -moz-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
        }
      }
    }
    .main-content {
      display: none;
    }
    .main-content-mob {
      display: block;
      height: auto;
      max-width: 95%;
      margin: auto;
      padding-top: 80px;
      overflow-x: hidden;
      .mob-menu {
        display: block;
        opacity: 1;
        background-color: #fff;
        position: fixed;
        right: 0;
        top: 100px;
        box-shadow: -1px 3px 4px 0 rgba(0,0,0,0.2);
        z-index: 200;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        &.closed {
          opacity: 0;
          right: -45%;
        }
        ul {
          list-style: none;
          text-align: left;
          padding-left: 0;
          li {
            padding: 10px 30px;
            font-size: 20px;
            &.active {
              text-decoration: underline;
            }
          }
        }
      }
      .content {
        max-width: 320px;
        margin: 50px auto;
        overflow-x: hidden;
        opacity: 1;
        display: none;
        transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -webkit-transition: all .35s ease-in-out;
        &.current {
          display: block;
        }
        &.hidden {
          opacity: 0;
        }
        &.skills {
          .accordion {
            list-style: none;
            padding: 0;
            margin: auto;
            li {
              margin: .5em 0;
              .inner {
                padding-left: 1em;
                overflow: hidden;
                display: none;
                .skills-cont {
                    display: grid;
                    margin: 15px auto;
                    grid-template-columns: 1fr 1fr 1fr;
                    align-items: center;
                    div {
                      font-style: normal;
                      margin: 3px;
                    }
                }
              }
              a.toggle {
                display: block;
                background: #fff;
                color: #000;
                padding: .75em;
                text-decoration: none;
                box-shadow: -1px 2px 4px 0 rgba(0,0,0,0.2);
                transition: all .3s ease-in-out;
                .arrow {
                  border: solid #000;
                  border-width: 0 3px 3px 0;
                  display: inline-block;
                  padding: 3px;
                  margin: 7px 40px 0 0;
                  float: left;
                  transform: rotate(-45deg);
                  transition: all .55s ease-in-out;
                }
                &.open .arrow {
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
        &.work {
          overflow-x: auto;
          max-width: none;
          .h2-container {
            margin: auto;
            width: 95%;
          }
          .projects-carousel {
            [class^="work-item"] {
              img {
                max-width: 95%;
                margin: auto;
              }
              .work-links {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                max-width: 95%;
                margin: 15px auto;
                background-color: #000;
                color: #fff;
                font-size: 18px;
                text-align: center;
                height: 45px;
                a {
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
            .slick-dots {
              list-style: none;
              display: flex !important;
              padding: 0;
              justify-content: space-evenly;
              width: 50%;
              margin: auto;
              margin-top: 20px;
              li {
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background-color: rgba(0,0,0,0.4);
                border: 2px solid #000;
                &.slick-active {
                  background-color: #000;
                }
                button {
                  opacity: 0;
                }
              }
            }
          }
        }
        &.contact {
          margin-top: 90px;
          #email {
            font-size: 20px;
            color: #000;
            text-decoration: none;
            margin-bottom: 25px;
            display: block;
          }
          .icon-list-row {
            display: flex;
            flex-direction: column;
            .icon-cont {
              display: flex;
              justify-content: flex-start;
              margin-bottom: 20px;
              .contact-links {
                img {
                  height: 60px;
                }
              }
              p {
                margin-left: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@-webkit-keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@-moz-keyframes tile {
  0% {transform: skew(0deg);}
  17% {transform: skew(-5deg);}
  34% {transform: skew(-10deg);}
  51% {transform: skew(-5deg);}
  68% {transform: skew(0deg);}
  85% {transform: skew(5deg);}
  100% {transform: skew(0deg);}
}

@keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}

@-moz-keyframes headerActive {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(6deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}
