<section id="contact" class="contact bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Get in touch</h3>
        <hr class="small">
        <a id="email" href="mailto:mail@charlesjewell.com">mail@charlesjewell.com</a>
          <div class="row icon-list-row">
            <a class="contact-links col-md-4" href="https://www.linkedin.com/in/jewellcharles/"><img src="img/linkedin-icon4.png" alt="" class="contact-icons"></a>
            <a class="contact-links col-md-4" href="https://github.com/cjewell47"><img src="img/github-icon.png" alt="" class="contact-icons"></a>
            <a class="contact-links col-md-4" href="http://exercism.io/cjewell47"><img src="img/exercism-icon2.png" alt="" class="contact-icons"></a>
          </div>
      </div>
    </div>
  </div>
</section>
