<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Charles Jewell is a London based Web developer">
  <meta name="author" content="">

  <title>Charles Jewell | Web Developer</title>

  <!-- Preload -->
  <link rel="preload" href="css/new-portfolio.css" as="style">
  <link rel="preload" href="js/jquery.js" as="script">
  <link rel="preload" href="js/new.js" as="script">


  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

  <!-- Bootstrap Core CSS -->

  <!-- Custom CSS -->
  <link href="css/new-portfolio.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" as="font">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" as="font" crossorigin="anonymous">

</head>
