<section class="main-content">
  <div class="content default current">
    <div class="items-container">
      <div class="header-item" data-val="about">
        <p>About</p>
      </div>
      <div class="header-item" data-val="skills">
        <p>Skills</p>
      </div>
    </div>
    <div class="items-container">
      <div class="header-item" data-val="work">
        <p>Projects</p>
      </div>
      <div class="header-item" data-val="contact">
        <p>Contact</p>
      </div>
    </div>
  </div>
  <div class="content hidden about">
    <div class="h2-container">
      <h2>About</h2>
    </div>
    <p class="bio">
      I have always enjoyed making sure that things around me are able run smoothly and efficiently, and after working in the NHS I ended up earning a MSc degree in management. My enthusiasm for understanding how things work led me to web development. After exploring different programming languages and beginning to teach myself to code, I realised I needed to take it to the next level. This is when I began studying at General Assembley.
      <br>
      <br>
      I have since discovered a love for coding. At the moment I work for Experian as an Optimisation Engineer. I work with JavaScript, HTML & CSS, as well as optimisation software such as Adobe Target and tag management systems such as Ensighten. I have also worked with Ruby, Node.js, AngularJS, React, and Ruby on Rails. I am always looking to learn new languages and frameworks, because more than just being a useful skill coding is a very rewarding skill.
      <br>
      <br>
      When I'm not coding, you'll probably find me reading crime fiction, playing for my 5-a-side team or keeping my chakras aligned practicing yoga.
      <br>
      <br>
    </p>
  </div>
  <div class="content hidden skills">
    <div class="h2-container">
      <h2>Skills</h2>
    </div>
    <ul class="accordion">
      <li>
        <a class="toggle" href="javascript:void(0);">Everyday</a>
        <ul class="inner">
          <div class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </ul>
      </li>
      <li>
        <a class="toggle" href="javascript:void(0);">Some experience</a>
      </li>
      <li>
        <a class="toggle" href="javascript:void(0);">Currently learning</a>
      </li>
    </ul>
  </div>
  <div class="content hidden work">
    <div class="h2-container">
      <h2>Projects</h2>
    </div>
  </div>
  <div class="content hidden contact">
    <div class="h2-container">
      <h2>Contact</h2>
    </div>
  </div>
</section>
