<section class="header-container">
  <div class="items-container">
    <h1>Charles Jewell</h1>
    <div class="header-items-container out">
      <div class="header-item hidden about" data-val="about">
        <p>About</p>
      </div>
      <div class="header-item hidden skills" data-val="skills">
        <p>Skills</p>
      </div>
      <div class="header-item hidden work" data-val="work">
        <p>Projects</p>
      </div>
      <div class="header-item hidden contact" data-val="contact">
        <p>Contact</p>
      </div>
    </div>
    <div class="mobile-menu-container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="mob-menu closed">
    <ul>
      <li class="active mob-about" data-val="about">About</li>
      <li class="mob-skills" data-val="skills">Skills</li>
      <li class="mob-work" data-val="work">Projects</li>
      <li class="mob-contact" data-val="contact">Contact</li>
    </ul>
  </div>
</section>
