<div class="header-container">
  <div class="items-container">
    <h1>Charles Jewell</h1>
    <div class="header-items-container out">
      <div class="header-item hidden about" data-val="about">
        <p>About</p>
      </div>
      <div class="header-item hidden skills" data-val="skills">
        <p>Skills</p>
      </div>
      <div class="header-item hidden work" data-val="work">
        <p>Projects</p>
      </div>
      <div class="header-item hidden contact" data-val="contact">
        <p>Contact</p>
      </div>
    </div>
  </div>
</div>
