<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://intense-dusk-18560.herokuapp.com/">
                <div class="my-img-container">
                  <img class="img-portfolio img-responsive img-1" src="img/BlendLifeBW.png">
                  <img class="img-portfolio img-responsive img-2-1" src="img/BlendLife.png">
                </div>
              </a>
              <p class="img-text-1">Blend Life - for creating and sharing smoothie recipes</p>
              <a href="https://github.com/cjewell47/blend-life-client" class="btn btn-dark read">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://dogwalkingapp.herokuapp.com/">
                <div class="my-img-container">
                  <img class="img-portfolio img-responsive img-1" src="img/PawsAndPlayBW.png">
                  <img class="img-portfolio img-responsive img-2-2" src="img/PawsAndPlay.png">
                </div>
              </a>
              <p class="img-text-2">Paws & Play - for matching dog walkers with dogs</p>
              <a href="https://github.com/cjewell47/paws-and-play" class="btn btn-dark read">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://stormy-forest-65305.herokuapp.com/">
                <div class="my-img-container">
                  <img class="img-portfolio img-responsive img-1" src="img/SnakeBW.png">
                  <img class="img-portfolio img-responsive img-2-3" src="img/Snake.png">
                </div>
              </a>
              <p class="img-text-3">Snake - the classic game with three difficulty levels</p>
              <a href="https://github.com/cjewell47/snake" class="btn btn-dark read">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://evening-refuge-83030.herokuapp.com/">
                <div class="my-img-container">
                  <img class="img-portfolio img-responsive img-1" src="img/BeerRaterBW.png">
                  <img class="img-portfolio img-responsive img-2-4" src="img/BeerRater.png">
                </div>
              </a>
              <p class="img-text-4">Beer Rater - for discussing and rating beer</p>
              <a href="https://github.com/cjewell47/beer-rater" class="btn btn-dark read">Read more</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <p id="downfromport-text">Get in touch</p>
        <a href="#contact"><img id="downfromport" src="img/down-icon.png"></a>      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
