<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Technical Skills</h2>
        <hr class="small rule-padding">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/JS.png">
            <p class="skill-text">JavaScript</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/ruby.png">
            <p class="skill-text">Ruby</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/HTML.png">
            <p class="skill-text">HTML</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/css.png">
            <p class="skill-text">CSS</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/sass.png">
            <p class="skill-text">Sass</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/jQuery.png">
            <p class="skill-text">jQuery</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/AngularJS.png">
            <p class="skill-text">AngularJS</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/bootstrap.png">
            <p class="skill-text">Bootstrap</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/materialize.png">
            <p class="skill-text">Materialize</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/node.png">
            <p class="skill-text">Node.js</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/rails.png">
            <p class="skill-text">Ruby on Rails</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/express.png">
            <p class="skill-text">Express.js</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/mongodb.png">
            <p class="skill-text">MongoDB</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/postgresql.png">
            <p class="skill-text">PostgreSQL</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/mocha.png">
            <p class="skill-text">Mocha</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/chai.png">
            <p class="skill-text">Chai</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/gulp.png">
            <p class="skill-text">Gulp</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/git.png">
            <p class="skill-text">Git</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/npm.png">
            <p class="skill-text">NPM</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img class="skill-icon" src="img/skill-icons/react.png">
            <p class="skill-text"><span id="current-skill">and currently learning...</span> React</p>
          </div>
        </div>
      </div>
      <p class="col-lg-12 col-xs-12 text-center" id="downfromskills-text">See my portfolio</p>
      <a class="col-lg-12 col-xs-12 text-center" href="#portfolio"><img id="downfromskills" src="img/down-icon.png"></a>
    </div>
  </div>
</section>
