<section id="whoiam2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img id="profile-picture" src="img/propic.jpg" alt="picture of charles jewell">
        <p class="bio">I have always enjoyed making sure that things around me are able run smoothly and efficiently, and after working in the NHS I ended up earning a MSc degree in management. My enthusiasm for understanding how things work led me to a web development course at GA, where I obsess over writing neat, organised and readable code. My aim is to become a developer within a strong team where I can learn and further improve my coding ability.</p>
        <p id="downfromwho-text">See my portfolio</p>
        <a href="#portfolio"><img id="downfromwhoiam" src="img/down-icon.png"></a>
      </div>
    </div>
  </div>
</section>
