<section id="whoiam2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img id="profile-picture" src="img/propic.jpg" alt="picture of charles jewell">
        <p class="bio">
          I have always enjoyed making sure that things around me are able run smoothly and efficiently, and after working in the NHS I ended up earning a MSc degree in management. My enthusiasm for understanding how things work led me to web development. After exploring different programming languages and beginning to teach myself to code, I realised I needed to take it to the next level. This is when I began studying at General Assembley.
          <br>
          <br>
          I have since discovered a love for coding. At the moment I work with JavaScript, HTML & CSS, as well as optimisation software such as Adobe Target and tag management systems such as Ensighten. I have also worked with Ruby, Node.js, AngularJS, React, and Ruby on Rails. I am always looking to learn new languages and frameworks, because more than just being a useful skill coding is a very rewarding skill.
          <br>
          <br>
          When I'm not coding, you'll probably find me reading crime fiction, playing for my 5-a-side team or keeping my chakras aligned practicing yoga.
        <br>
        <br>
        </p>
        <p id="downfromwho-text">See my skills</p>
        <a href="#skills"><img id="downfromwhoiam" src="img/down-icon.png"></a>
      </div>
    </div>
  </div>
</section>
